
<body>
 
    <div class="breadcrumbs">
        <a href="#">Inicio</a> &gt; <a href="#">Videojuegos </a> &gt; <span>Control</span>
    </div>

    <div class="content">
        <h2>Xbox Elite Wireless Controller Series 2 Core – White (Renewed Premium)
        </h2>
          <img src="https://m.media-amazon.com/images/I/61H321AbQuL._AC_SX522_.jpg" alt="">
        <p >XBOX ELITE WIRELESS CONTROLLER SERIES 2: Play like a pro with adjustable-tension thumbsticks, wrap-around rubberized grip, and shorter hair trigger locks..Audio : 3.5mm stereo headset jack. Also compatible with the Xbox One Stereo Headset Adapter and all other Xbox controller accessories made by Microsoft.</p>
           <p>CORE ESSENTIALS: Includes just the components you need to unleash your best game. Additional components sold separately for even more customization with the Complete Component Pack. </p>
        <p>Precio: $99.99</p>
        <button>Añadir al carrito</button>
    </div>


</body>
