
<body>
 
    <div class="breadcrumbs">
       <!-- <a href="#">Inicio</a> &gt; <a href="#">Monitores</a> &gt; <span>Producto</span>-->
    </div>

    <div class="content">
        <h2>RIVTUN Kit de combinación de tablero de clavijas para organizador de pared, kits de tablero de clavijas montado en la pared para cocina, recámara, oficina y baño, 4 tableros de clavijas negros y 14 accesorios, 22 x 22 pulgadas</h2>
          <img src="https://m.media-amazon.com/images/I/61kv9a-bgDL._AC_SX679_.jpg" alt="">
        <p >Multiusos: este kit de combinación de tablero de clavijas para pared se adapta a muchas áreas de tu hogar. Este juego de pared es ideal para organizar la entrada del hogar, sala de estudio, recámara, cocina y baño.</p>
           <p>Rodamiento de alta carga: el juego de tablero de clavijas RIVTUN está hecho de plástico HIPS duradero con alta capacidad de carga y puede soportar hasta 20 libras.</p>
        <p>Precio: $99.99</p>
        <button>Añadir al carrito</button>
    </div>


</body>
