
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
    <li class="breadcrumb-item"><a routerLink="/categoria1">Monitores</a></li>
    <li class="breadcrumb-item"><a routerLink="/formulario">Formulario</a></li>
  </ol>
</nav>

<div class="content">
    <h2>SAMSUNG Monitor de Juegos Ultra Ancho Odyssey G5 de 34 Pulgadas con visualización Curva 1000R, 165Hz, 1ms, 
      FreeSync Premium, WQHD (LC34G55TWWNXZA, Modelo 2020), Negro</h2>
      <img src="https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SY450_.jpg" alt="" data-a-dynamic-image="{&quot;https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SX466_.jpg&quot;:[466,466],&quot;https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SY450_.jpg&quot;:[450,450],&quot;https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SX679_.jpg&quot;:[679,679],&quot;https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SX522_.jpg&quot;:[522,522],&quot;https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SY355_.jpg&quot;:[355,355],&quot;https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SX569_.jpg&quot;:[569,569],&quot;https://m.media-amazon.com/images/I/61XDeaOrrKL._AC_SX425_.jpg&quot;:[425,425]}">
    <p >Curva óptima, verdadera inmersión: la visualización 1000R completa llena cada parte de tu visión periférica y te atrae directamente a los zapatos del personaje; experimenta un nivel de juego más llamativo que cualquier cosa antes
        </p>
        <p>Resolución WQHD: el monitor WQHD ultraancho muestra más contenido en visualización con una experiencia de monitor dual perfecta con una curvatura de 1000R para crear un campo de visión humano que proporciona comodidad ocular mientras juegas durante largos períodos de tiempo </p>
    <p>Precio: $99.99</p>
    <button>Añadir al carrito</button>
</div>
