
<body>
 
    <div class="breadcrumbs">
       <!-- <a href="#">Inicio</a> &gt; <a href="#">Monitores</a> &gt; <span>Producto</span>-->
    </div>

    <div class="content">
        <h2>Laptop HP Elitebook 830 G5, 13.3 pulgadas FHD, Core i5-8350U 1.7GHz, 16 GB de RAM, unidad de estado sólido de 512 GB, Windows 10 Pro 64Bit, CAM (reacondicionada), color plateado
        </h2>
          <img src="https://m.media-amazon.com/images/I/81d5-+ukcTL._AC_SX679_.jpg" alt="">
        <p >Procesador: Intel Core i5-8350U.
        </p>
           <p> Puertos/ranuras: (1) Thunderbolt (conector USB tipo C), (2) USB 3.1 Gen 7, puerto HDMI 1.4b, puerto RJ-45/Ethernet, conector de acoplamiento. Conector combinado de audífonos/micrófono, puerto de alimentación de CA, puerto VGA.</p>
        <p>Precio: $99.99</p>
        <button>Añadir al carrito</button>
    </div>


</body>
