
<body>
 
    <div class="breadcrumbs">
       <!-- <a href="#">Inicio</a> &gt; <a href="#">Monitores</a> &gt; <span>Producto</span>-->
    </div>

    <div class="content">
        <h2>I SEATING Silla Oficina ejecutiva con cabecera y Soporte Lumbar Ajustable Silla Gamer sillas para Escritorio Silla ergonomica Caselli C
        </h2>
          <img src="https://m.media-amazon.com/images/I/81scLc-9ysL._AC_SY550_.jpg" alt="">
        <p >ERGONOMIA: logra el MEJOR ÁNGULO de visión y EVITA DOLORES de cuello y espalda gracias a la ALTURA y RECLINACIÓN ajustables. la CABECERA AJUSTABLE soporta la posición NATURAL del cuello para maximizar tus horas de trabajo</p>
           <p> COMODIDAD: los BRAZOS y SOPORTE LUMBAR AJUSTABLES hacen que la silla se ADAPTE a la curvatura NATURAL de tu espalda, llenando el hueco lumbar y garantizando comodidad</p>
        <p>Precio: $99.99</p>
        <button>Añadir al carrito</button>
    </div>


</body>
