<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazona</title>

</head>
<body>
    <header>
        <h1>Amazona</h1> 
        <input type="search" placeholder="Busqueda amazona.com" class="sb-search-input"> 
        <input class="sb-search-submit" type="submit">
        <span class="sb-icon-search"></span>
    </header>

    <!-- <nav>
        <a href="#">Inicio</a>
        <a routerLink="/categoria1">Monitores</a>
        <a routerLink="/carrito">Carrito</a>
    </nav> -->

    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
          <li class="breadcrumb-item"><a routerLink="/categoria1">Monitores</a></li>
          <li class="breadcrumb-item"><a routerLink="/formulario">Formulario</a></li>
        </ol>
    </nav>

    <div class="row formulario-contacto">
        <div class="titulo-formulario col-xl-12">
            <p>Regístrate</p>
        </div>
    
        <div class="formulario col-xl-12">
            <div class="mostrar">
                <form id="contact-form" action="" method="post">
                    <div class="form">
                        <div class="mb-4 campos">
                            <input type="text" id="name" name="name" placeholder="Nombre" required>
                        </div>
        
                        <div class="mb-4 campos">
                            <input type="email" id="email" name="email" placeholder="Email" required>
                        </div>
    
                        <div class="mb-4 campos">
                            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Celular" required>
                        </div>

                        <div class="mb-4 campos">
                            <input type="password" id="password" name="password" placeholder="Contraseña" required>
                        </div>
      
                        <div class="boton-formulario d-flex justify-content-center">
                          <button type="submit" class="btn">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

