
<body>
 
    <div class="breadcrumbs">
       <!-- <a href="#">Inicio</a> &gt; <a href="#">Monitores</a> &gt; <span>Producto</span>-->
    </div>

    <div class="content">
        <h2>Corsair 4000D Airflow - Carcasa para PC (Cristal Templado)
        </h2>
          <img src="https://m.media-amazon.com/images/I/51AAXV-ursL._AC_SX522_.jpg"alt="">
        <p >El sistema de gestión de cables RapidRoute de CORSAIR hace que sea fácil y rápido enrutar sus cables principales a través de un solo canal, con un espacioso espacio de 25 mm detrás de la placa base para todos sus cables.</p>
           <p>El sistema de gestión de cables RapidRoute de CORSAIR hace que sea fácil y rápido enrutar sus cables principales a través de un solo canal, con un espacioso espacio de 25 mm detrás de la placa base para todos sus cables. </p>
        <p>Precio: $99.99</p>
        <button>Añadir al carrito</button>
    </div>


</body>
